.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 500px;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 0;
}

.cart-item h3 {
    margin: 0;
}

.cart-item h4 {
    margin: 5px 0;
}

.item-details {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 600px;
    align-items:center;
    justify-content: center;
    float: right;
}

.delete-button {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}